.flag {
    border: 1px solid black;
    background-color: rgb(179, 25, 66);
    width: 1235px;
}

img {
    height: 40px;
}

.stars {
    height: 330px;
    width: 494px;
    background-color: rgb(6, 37, 95);
    padding-top: 20px;
}

.stars div{
    display: flex;
    align-items: center;
}

.six {
    justify-content: space-around;
    margin: -5px 0;
}

.five {
    justify-content: space-evenly;
    margin: 0 20px;
}

.stripes div {
    height: 50px;
    background-color: white;
}

#short div {
    width: 741px;
    margin: 50px -4px;
}

#long div {
    width: 1235px;
    margin-bottom: 50px;
}

#short, .stars {
    display: inline-block;
    vertical-align: top;
}

