.top, .bottom {
    width: 1235px;
    background-color: rgb(179, 25, 66);
    border: 1px solid black;
}

.top {
    border-bottom: none;
}

.bottom {
    border-top: none;
}

img {
    height: 40px;
}

.top, .six, .five {
    display: flex;
}
.stars {
    width: 494px;
    background-color: rgb(6, 37, 95);
    padding-top: 17px;
    padding-bottom: 18px;
}

.six, .five {
    height: 35px;
    align-items: center;
}

.six {
    justify-content: space-around;
}

.five {
    padding: 0 20px;
    justify-content: space-evenly;
}

.stripes div {
    height: 50px;
    background-color: white;
}

.top .stripes div {
    width: 741px;
    margin-top: 50px;
}

.bottom div {
    margin-bottom: 50px;
}